.profile {
  display: flex;
  gap: 116px;
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .profile {
    display: flex;
    flex-direction: column;
    gap: 0;
  }


}