.cards__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.cards__text {
  font-size: 20px;
  line-height: 24px;
  color: #000;
  font-family: CabinetGrotesk;
  font-weight: 700;
  margin: 40px 0 34px 0;
}

@media screen and (max-width: 768px) {
  .cards__text {
  margin: 32px 0 20px 0;
}
}