.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-family: "CabinetGrotesk";
  font-weight: 700;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
}

.header__add-clothes-btn {
  margin: 0 20px 0 auto;
  border: none;
  font-family: "CabinetGrotesk";
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  cursor: pointer;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
  line-height: 24px;
}

.header__username {
  margin: 0;
  line-height: 1;
}

.header__hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 44px;
  height: 44px;
}

@media screen and (max-width: 768px) {

  .header {
   flex-direction: column;
   align-items: flex-start;
   padding: 18px 0 16px;
   gap: 32px;
  }

  .header__logo {
    margin: 0;
  }

  .header__hamburger {
    display: block;
    position: absolute;
    right: 16px;
    top: 18px;
    background: none;
    border: none;
    }

  .header__add-clothes-btn {
    display: none;
  }

  .header__user-container {
    display: none;
  }

}