.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-family: "CabinetGrotesk";
  font-weight: 700;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
}

.header__add-clothes-btn {
  margin: 0 20px 0 auto;
  border: none;
  font-family: "CabinetGrotesk";
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
  line-height: 24px;
}

.header__username {
  margin: 0;
  line-height: 1;
}

.header__hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 44px;
  height: 44px;
}

@media screen and (max-width: 768px) {

  .header {
   padding-top: 18px;
   position: relative;
  }

  .header__logo {
    margin: 2px 0 32px 0;
  }

  .header__hamburger {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(18px);
    }



  .header__date-and-location {
    position: absolute;
    bottom: 0;
    margin-bottom: 16px;
  }

  .header__add-clothes-btn {
    display: none;
  }

  .header__user-container {
    display: none;
  }

}