.sidebar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  white-space: nowrap;
  margin-top: 19px;
}

.sidebar__avatar {
  height: 56px;
  width: 56px;
}

.sidebar__username {
  font-family: "CabinetGrotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: black;
  margin: 0;
}

.sidebar__change,
.sidebar__logout {
  display: none;
}

@media screen and (max-width: 768px)  {
  .sidebar {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    white-space: nowrap;
  }

  .sidebar-wrapper {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }

  .sidebar__user {
    display: flex;
    flex-direction: column;
  }

  .sidebar__username {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 12px;
  }

  .sidebar__change {
    font-family: "CabinetGrotesk";
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.6);
    border: none;
    text-align: left;
    padding: 0;
    cursor: pointer;
    margin-bottom: 8px;
    display: block;
  }

    .sidebar__logout {
    font-family: "CabinetGrotesk";
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.6);
    border: none;
    margin-bottom: 20px;
    text-align: left;
    padding: 0;
    cursor: pointer;
    display: block;
  }
}


