.footer {
    width: 100%;
    margin-bottom: 24px;
    margin-top: 140px;
    font-family: "CabinetGrotesk";
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer__text {
    margin: 24px 0 24px 0;
}

.footer__year {
  margin: 24px 0 24px 0;
}

@media screen and (max-width: 768px) {
  .footer__text {
    margin: 20px 0 20px 0;
}

.footer__year {
  margin: 20px 0 20px 0;
}
}